<style>
body {background:#313E46; padding-top:0;}
</style>

<div class="container">
  <div class="row">
    <div class="span6 offset3 center">
      <div class="brand-wrapper bottom">
        <a class="brand" href="/"><img src="/assets/developers/logo.png" width="182" /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset4">
      <div class="signup">
	      <%= display_flash_messages(flash) %>
	      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<fieldset>
				    <div class="infield-label">
				      <label for="input-email">Email address</label>
			  			<%= f.text_field :email, :autofocus => true, class: "required input-block-level" %>
				    </div>
				    <div class="infield-label">
				      <label for="input-password">Password</label>
							<%= f.password_field :password, class: "required input-block-level" %>
				    </div>
					  </br>
						<button type="submit" class="btn btn-primary btn-block btn-large">Log In&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
				  	</br><%= link_to "Forgot your password?", new_user_password_path %></br>
					</fieldset>
					<div class="small muted mb4">
					  Not a member yet? <%= link_to "Join Groundfloor now", account_path, class: "muted underlined" %> 
					</div>
				<% end %>
				<div class="or">
				  <p class="small muted mb4">or join using your social account:</p>
				  <a href="/auth/facebook" class="btn"><i class="icon-facebook"></i>&nbsp;&nbsp;Facebook</a>
				  <a href="/auth/twitter" class="btn"><i class="icon-twitter"></i>&nbsp;&nbsp;Twitter</a>
				  <a href="/auth/linkedin" class="btn"><i class="icon-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
				</div>
				
		</div>
  </div>
</div>

