<div class="container">
	<%= render :partial => "comfy/navbar", locals: { title: "add your projects", step: @registration.step, path: @path } %>


  <div class="row">
    <div class="span8">
      <div class="box white">
				<% unless @projects.length > 0 %>
        	<p class="message"><b>Thanks for joining!</b> Now tell us about your projects you would like to feature on Groundfloor. You can submit up to five projects.</p>
				<% else %>
					<%= display_flash_messages(flash) %>
				<% end %>
	  		<%= form_for(@project, url: projects_path, :method => :post) do |f| %>
					<%= f.hidden_field :id %>
          <br>
          <fieldset>
            <!-- <legend>Join Groundfloor</legend> -->
            <div class="infield-label">
              <label for="input-name">Project Name</label>
							<%= f.text_field :name, placeholder: "315 West Street", class: "span3" %>
            </div>
            <div class="infield-label">
              <label for="input-city">City and State</label>
							<div class="row">
								<div class="span2">
									<%= f.text_field :city, placeholder: "Raleigh", class: "span2" %>
								</div>
								<div class="span1">
									<%= f.select :state, us_states, { include_blank: "Please Select A State" }, { } %>
								</div>
							</div>
            </div>
            <div class="question">
              <label>Tell us about the project.</label>
							<%= f.text_area :description, rows: 3, class: "input-block-level" %>
            </div>
            <div class="question">
              <label>Category:</label>
							<%= f.select :category, Project::CATEGORIES, { include_blank: "Please Select A Category" }, {} %>
            </div>
            <div class="question">
              <label>Amount you're seeking to raise:</label>
							<%= f.hidden_field :amount_to_raise %>
              <div data-toggle="buttons-radio" class="btn-group" id="input-amount-to-raise">
								<% Project::AMOUNT_TO_RAISE.each do |option| %>
                	<button type="button" value="<%= option %>" class="btn <%= @project.amount_to_raise == option ? "active" : "" %>"><%= option %></button>
								<% end %>
              </div>
            </div>
            <div class="question">
              <label>Type of capital you're seeking to raise:</label>
							<%= f.hidden_field :capital_type %>
              <div data-toggle="buttons-radio" class="btn-group" id="input-captial-type">
								<% Project::CAPTIAL_TYPE.each do |option| %>
                	<button type="button" value="<%= option %>" class="btn <%= @project.capital_type == option ? "active" : "" %>"><%= option %></button>
								<% end %>
              </div>
            </div>
            <div class="question">
              <label>Proposed loan-to-value:</label>
							<%= f.hidden_field :loan_to_value %>
              <div data-toggle="buttons-radio" class="btn-group" id="input-loan-to-value">
								<% Project::LOAN_TO_VALUE.each do |option| %>
                	<button type="button" value="<%= option %>" class="btn <%= @project.loan_to_value == option ? "active" : "" %>"><%= option %></button>
								<% end %>
              </div>
            </div>
            <div class="question">
              <label for="input-status">Project status</label>
							<%= f.text_area :status, rows: 3, class: "input-block-level" %>
						</div>
            <div class="question">
              <label>Desired timeline for closing funds:</label>
							<%= f.hidden_field :close_timeline %>
              <div data-toggle="buttons-radio" class="btn-group" id="input-close-timeline">
								<% Project::CLOSE_TIMELINE.each do |option| %>
                	<button type="button" value="<%= option %>" class="btn <%= @project.close_timeline == option ? "active" : "" %>"><%= option %></button>
								<% end %>
              </div>
            </div>
            <div class="">
              <label for="input-financing-already">How many partners in addition to you have voting rights over the final decision to raise money with Groundfloor?</label>
							<%= f.text_field :partners, placeholder: "2", class: "span2" %>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-large" onclick="return validate_project();">Save Project&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
						<% unless @project.id.nil? %>
							<%= link_to "Remove Project", delete_project_path(id: @project.id), :method => :delete, class: "btn btn-danger btn-large", :confirm => "Are you sure you want to remove this project from consideration?" %> 
						<% end %>
          </fieldset>
		  	<% end %>
      </div>
    </div>
    <div class="span4">
      <div class="join why no-bg">
        <legend>Your projects</legend>
				<% @projects.each do |project| %>
					<%= link_to project.name, projects_path(id: project.id), class: "project" %>
				<% end %>

				<% if @projects.length > 0 %>
					<%= link_to "Add a new project" , projects_path, class: "project empty" %>
				<% else %>
      		<a href="#" onclick="$('#project_name').focus(); return false;" class="project empty">Add your first project</a>
				<% end %>
      </div>
    </div>


	</div>
</div>

<%= cms_snippet_content("footer") %>
